[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
pandas = "*"
numpy = "*"
streamlit-audiorecorder = "*"
smart_open[s3] = "*"
datetime = "*"

[dev-packages]
ffmpeg

[requires]
python_version = "3.9"
